<div class="container">
    <div *ngIf="currentUser" class="home__block">
        <h1 class="home__tittle">Welcome {{currentUser.first_name}}!</h1>
        <p class="home__text">Here you can create own tasks</p>
        <button class="create__btn" (click)="toggleCreateForm()">
            {{ showCreateForm ? 'Close' : 'Create Task' }}
        </button>

        <app-create-task *ngIf="showCreateForm" (taskCreated)="onTaskCreated()"></app-create-task>

        <div class="tasks">
        <app-task-list></app-task-list>
        </div>
    </div>
    
</div>


