.container {
    max-width: 1120px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.loading__block {
    text-align: center;
    padding: 20px;
    color: #777;
    font-size: 18px;
}

.task__row, .task__list {
    display: grid;
    grid-template-columns: 17.5% 30% 17.5% 17.5% 17.5%;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #e0e0e0;
}

.task__row {
    border-bottom: 2px solid #ccc;
    font-weight: bold;
    color: #C8C8C8;
}

.row {
    display: flex;
    align-items: center;
}

.row img {
    width: 20px;
    margin-right: 8px;
}

.task__name,
.task__desc,
.task__type,
.task__date,
.task__action {
    padding: 0 10px;
    box-sizing: border-box;
}

.task__desc {
    white-space: normal;
    word-break: break-word;
}

.type__select {
    border-radius: 20px;
    border: 1px solid #C8C8C8;
    padding: 7px;
    width: 120px;
    max-width: 100%;
}

.task__action {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.task__list:hover {
    background-color: #f9f9f9;
}

.task__btn {
    border: none;
    background: none;
    transition: transform 0.2s ease-in;
    padding: 0;
}

.task__btn:hover {
    filter: brightness(0.8);
    cursor: pointer;
    transform: scale(1.02);
}

.task__btn img {
    width: 24px;
    height: 24px;
}

.task-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.task__input {
    padding: 10px;
    border-radius: 40px;
    border: 1px solid #C8C8C8;
    width: 200px;
    height: 30px;
}
.task__textarea {
    padding: 10px;
    border-radius: 40px;
    border: 1px solid #C8C8C8;
    min-width: 300px;
    height: 30px;
}

.update__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}

.update__btn button{
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: #5E63B6;  
    color: #ffffff;  
    transition: all ease-in-out 0.3s;
}

.update__save__btn{

}

.update__cancel__btn{
    
}

.update__btn button:hover{
    transform: scale(1.03);
    background-color: #4b50b4;
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;

}