.container {
    max-width: 1120px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.loading__block {
    text-align: center;
    padding: 20px;
    color: #777;
    font-size: 18px;
}

.create__btn {
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #27296d;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}


.task__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    color: #C8C8C8;
 
}

.row {
    display: flex;
    align-items: center;
}

.row img {
    width: 20px;
    margin-right: 8px;
}


.task__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-left: 10px;
}

.task__name,
.task__desc,
.task__type {
    font-size: 15px;
    color: #333;
}

.task__row .row{
    color: #C8C8C8
}

.task__name {
    width: 17.5%;
}
.task__desc {
    width: 30%;
}
.task__type {
    width: 17.5%;
}

.task__option{
    
}
.type__select{
    border-radius: 20px;
    border: 1px solid #C8C8C8;
    padding: 7px 7px;
    width: 120px;
    margin-right: 74.34px;
}
.task__action{
    width: 17.5%;
    margin-left: 10px;
    display: flex;
    justify-content: flex-end;
}

.task__date{
    width: 17.5%;
}

.task__list:hover {
    background-color: #f9f9f9;
}


.task__btn{
    border: none;
    background: none;
    transition: transform 0.2s ease-in;
    margin: 0 5px;
    
}
.task__btn:hover{
    filter: brightness(0.8);
    cursor: pointer;
    transform: scale(1.02);
}
.task__btn img{
    width: 24px;
}