<div class="container">
  <div *ngIf="isLoading" class="loading__block">
      Loading...
  </div>

  <button class="create__btn" (click)="createTask()">Create Task</button>


  <div class="task__row">
      <p class="task__name row"><img src="task.png" alt=""> Task Name</p>
      <p class="task__desc row"><img src="name.png" alt=""> Description</p>
      <p class="task__type row"><img src="type1.png" alt=""> Type</p>
      <p class="task__date row"><img src="date1.png" alt=""> Date</p>
      <p class="task__action row"></p>
  </div>

  <div class="task__list" *ngFor="let task of tasks">
      <p class="task__name">{{ task?.title }}</p>
      <p class="task__desc">{{ task.description }}</p>
      <select class="task__type type__select" [(ngModel)]="task.status" (change)="updateStatus(task)">
        <option class="task__option" value="todo">To Do</option>
        <option class="task__option" value="in_progress">In Progress</option>
        <option class="task__option" value="done">Done</option>
      </select>
      <p class="task__date">{{ task.updated_at | date: 'medium' }}</p>

      <div class="task__action">
        <button class="btn__edit task__btn" (click)="editTask(task.id)"><img src="edit.png" alt=""></button>
        <button class="btn__delete task__btn" (click)="deleteTask(task.id)"><img src="delete.png" alt=""></button>
      </div>
  </div>
</div>
